.Pokedex {
    text-align: center;
}


.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: rgb(33, 166, 33);
}

.Pokedex-loser {
    color: rgb(214, 29, 29);
}